body {
    background-image: url('MFCOfficial/sky.jpg');
}
h1 {
    color: red;
    text-align: center;
    font-size: 4vw;
    font-family: 'Coda', cursive;
}
p {
    font-family: verdana;
    text-align: center;
    color: orange;
    font-size: 14px;
}
