body {
  background-image: url("http://2.bp.blogspot.com/-yMQdN7T_mUs/UK9Q7BiHeLI/AAAAAAAADTw/N3foqThZ6oc/s1600/mahogany-seamless_web_texture.jpg");
}
h1 {
  color: lightyellow;
  text-align: center;
  color: lightyellow;
}
